h1{
    font-family: Arial;
    color: hwb(0 5% 93%);
}

button{
    background-color: black;
    padding: 17px;
    font-size: 20px;
    color: #ffffff;
    cursor: pointer;
    border-radius: 15px;
    width: 300px;
    
 
   
}

img {
    
    width: 400px;
    height: 400px;
    padding: 4px;
    border-radius: 20px;
    background-color:black;
    
}